@charset "UTF-8";
/* CSS Document */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif; 
}
/* ------------ TOPO ------------ */
header {
    width: 100vw;
    height: 50px;
    border-bottom: 1px solid #e1e1e1;
    background: #fff;

    position: fixed;
    top: 0px;
    z-index: 2px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}

header > menu {
    width: 93vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    margin: 0 auto;
}
header > menu > a > img {
    margin: 0px;
    width: 20px;
    height: 20px;
    object-fit: contain;
}

header > menu > a {
    margin: 0px;
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

/* ------------ CORPO DO SITE ------------ */

main {
    width: 100vw;
    margin-top: 50px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-bottom: 100px;
}


main > .anuncio {
    width: 100vw;
    height: 400px;
    margin-bottom: 10px;

    position: relative;
}
main > .anuncio > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main > .anuncio > .anuncio-info {
    position: absolute;
    bottom: 0px;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));

    width: 100%;
    padding: 20px;

    color: white;
}
main > .anuncio > .anuncio-info > h1 {
    font-size: 16px;
    font-weight: 500;
}


main > .descricao {
    width: 93vw;
    padding: 10px 0px;
}
main > .descricao > p {
    font-size: 15px;
    word-break: break-all;
}
main > .descricao > p > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}


main > .precos {
    width: 100vw;
    padding: 15px;

    background-color: #f2f2f2;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

    margin-top: 15px;
    margin-bottom: 5px;
}
main > .precos > h2 {
    font-size: 15px;
}
main > .precos > article {
    width: 100%;

    padding: 5px 0px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    font-size: 15px;

}


main > .comentar {
    padding: 10px;

    width: 100vw;
}
main > .comentar > textarea {
    width: 100%;
    height: 50px;
    background: #f9f9f9;

    padding: 10px;
    border: 1px solid #f7f7f7;
    border-radius: 5px;
}


main > .avaliacoes {
    width: 100vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
main > .avaliacoes h2 {
    width: 93vw;
    padding: 10px 0px;
    margin: 0 auto;

    font-size: 15px;
    font-weight: bold;

}
main > .avaliacoes > .comentario-user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    width: 93vw;

    margin: 0 auto;
}
main > .avaliacoes > .comentario-user > img {
    width: 25px;
    height: 25px;
    object-fit: contain;

    margin-right: 10px;
}
main > .avaliacoes > .comentario-user > aside > h3 {
    font-size: 15px;
}
main > .avaliacoes > .comentario-user > aside > p {
    margin-top: 5px;
    word-break: break-all;
    font-size: 15px;
}

main > .bt-contratar {
    width: 100vw;
    height: 70px;

    position: fixed;
    bottom: 0px;
    z-index: 2;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    border-top: 1px solid #e1e1e1;

}
main > .bt-contratar > button {
    padding: 10px;
    width: 93vw;

    height: 50px;
    border: none;

    border: 1px solid #c1c1c1;
    border-radius: 5px;
    margin: 0 auto;
}
main > .bt-contratar > button > a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}


