@charset "UTF 8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --icolor-botao: #406DF8;
}

body { font-family: Arial, Helvetica, sans-serif;}


/* ---------- TOPO --------------*/
header {
    width: 100vw;
    height: 60px;

    position: fixed;
    top: 0px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #e1e1e1;
    background: #fff;
}
header > nav {
    width: 93vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header > nav > a {
    margin: 0px;
    text-decoration: none;
    color: black;

    font-size: 15px;
}
header > nav > a > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
header > nav > a > h2 {
    font-size: 15px;
    font-weight: normal;
}


/* ---------- CORPO --------------*/

main {
    width: 100vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    margin-top: 60px;

}

/* --- FURMALRIO ---*/
main > form {
    width: 93vw;
    margin: 10px auto;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}
main > form > h1 { 
    width: 93vw;
    font-size: 15px;
    margin: 10px auto;
}
main > form > p {
    width: 93vw;
    word-break: break-all;
    margin: 10px auto;
}
main > form > input {
    padding: 10px;
    width: 93vw;

    border: 1px solid #e1e1e1;
    background: #f2f2f2;

    margin: 10px auto;
    font-size: 15px;
}
form > section {
    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100vw;
    padding: 10px;

    background: #fff;
    border-top: 1px solid #e1e1e1;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

}
form > section > input {
    width: 93vw;

    padding: 15px;
    background: var(--icolor-botao);
    color: white;

    font-size: 15px;
    border: none;

    border-radius: 5px;
}
