@charset "UTF 8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color: #3F00F2;
    --fundobox: #e4e0f0;
}

body { font-family: Arial, Helvetica, sans-serif; }

/* -------------- TOPO 1 -------------- */
header {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    top: 0px;
    border-bottom: 0.5px solid #e1e1e1;
    background-color: #fff;
    z-index: 2;
    
}

header > h1 {
    flex: 0 50%;
    margin-left: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}
header > nav {
    flex: 0 0 120px;
    font-size: 13px;
    margin-right: 5px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
header > nav > a > img {
    width: 21px;
    height: 21px;
}

/* -------------- MENU PRINCIPAL -------------- */

#menu-principal {
    width: 100vw;
    height: 60px;
    position: fixed;
    bottom: 0px;
    border-top: 0.5px solid #e1e1e1;
    background-color: #fff;
    z-index: 2;
}
#menu-principal > nav {
    width: 93vw;
    height: 90%;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}
#menu-principal > nav > a {
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-weight: 500;

    display: flex;
    flex-flow: column wrap;

}
#menu-principal > nav > a > img {
    width: 21px;
    height: 21px;
}


main {
    width: 100vw;
    margin-top: 55px;
}
main > section {
    margin: 5px auto;
    width: 93vw;
}

#topo-perfil {

    margin-top: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 93vw;
}
#topo-perfil > img {
    margin-top: 20px;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 1px solid #e1e1e1;
    border-radius: 90px;
}
#topo-perfil > abbr {
    position: absolute;
    top: 10px;
    right: 0px;
}
#topo-perfil > abbr > img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}
#topo-perfil > h1, h2, h3{
    font-size: 16px;
    margin: 10px auto 0px;
}
#topo-perfil > h2, h3 {
    font-size: 14px;
    font-weight: normal;

}
#topo-perfil > a > button {
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    background: #f2f2f2;
    font-size: 15px;

    margin-top: 10px;
}


#menu-navega {
    width: 100vw;
    margin-top: 20px;
}
#menu-navega > nav {
    width: 93vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 10px;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 5px;
}
#menu-navega > nav > article {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#menu-navega > nav > article > img {
    width: 23px;
    height: 23px;
    object-fit: contain;
}
#menu-navega > nav > article > h3{
    font-size: 13px;
}




#conteudo {
    width: 100vw;
    margin-top: 10px;
    margin-bottom: 75px;
}
#conteudo > article {
    width: 93vw;
    height: 150px;
    background-color: #e4e0f0;
    border-radius: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    position: relative;
    margin: 10px auto;
}
#conteudo > article > abbr {
    position: absolute;
    top: 10px;
    right: 10px;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: flex-start;
}
#conteudo > article > abbr > img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin: 0px;

}
#conteudo > article > abbr > h3 {
    margin: 0px;
    font-size: 13px;
    color: #555;
}
#conteudo > article > img {
    width: 35%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 0px 0px 10px;
    margin: 0px;

}
#conteudo > article > aside {
    margin: 0px;
    margin-left: 10px;
    width: 60%;
}

#conteudo > article > aside > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}
#conteudo > article > aside > div > button {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    margin-top: 30px;
    padding: 7px 15px;
    background: var(--color);
    color: white;
    border: none;
    border-radius: 5px;
    margin: 30px 0px;

    width: 48%;
}
#conteudo > article > aside > div > .excluir {
    background-color: #fff;
    color: #555;
    border: 1px solid #c1c1c1;
}
#conteudo > article > aside > div > .patrocinar {
    border: 1px solid var(--color);
}

#conteudo > article > aside > div > button > img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    margin: 0px;
    margin-right: 5px;
}