@charset "UTF 8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --icolor-botao: #406DF8;
}

body { font-family: Arial, Helvetica, sans-serif; background: #f2f2f2;}


/* ---------- TOPO --------------*/
header {
    width: 100vw;
    height: 60px;

    position: fixed;
    top: 0px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #e1e1e1;
    background: #fff;

    z-index: 2;
}
header > nav {
    width: 93vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header > nav > a {
    margin: 0px;
    text-decoration: none;
    color: black;

    font-size: 15px;
}
header > nav > a > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
header > nav > a > h2 {
    font-size: 15px;
    font-weight: normal;
}


main {
    margin-top: 60px;
    width: 100vw;
    height: 100vh;
    position: relative;

    margin-bottom: 50px;
}

main > #img-resumo {
    width: 100vw;
    height: 400px;

    position: relative;
}
main > #img-resumo > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
main > #img-resumo > article {
    position: absolute;
    bottom: 0px;

    width: 100%;
    height: 100px;

    background: linear-gradient(transparent, black);

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    color: white;
}

main > #img-resumo > article > h2 {
    font-size: 15px;
    margin-bottom: 5px;
}
main > #img-resumo > article > p {
    font-size: 14px;
}


main > #infor-resumo {
    padding: 10px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;

    width: 80vw;
    margin-top: -50px;

    border-radius: 5px;
    position: absolute;
    
    left: 50%;
    transform: translateX(-50%);

    background: #fff;

}
main > #infor-resumo > h1 {
    font-size: 15px;
    padding-bottom: 12px;
    border-bottom: 1px solid #e1e1e1;
    width: 100%;

    text-align: center;

    margin-bottom: 10px;
}

main > #infor-resumo > aside {
    width: 100%;
    padding: 5px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    
    margin-top: 2px;
}
main > #infor-resumo > aside > h3 {
    font-size: 15px;
    margin: 0px;
    margin-right: 7px;

}
main > #infor-resumo > aside > address {
    margin: 0px;
}
main > #infor-resumo > aside > img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 25px;

    margin: 0px;
}
main > #infor-resumo > .anunciante {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    padding: 10px;
    background: #f2f2f2;

}
main > #infor-resumo > .anunciante > .t-anun {
    margin-right: 0px;
    font-style: italic;
    font-size: 14px;
}


#bt-confirmar {
    padding: 15px;

    width: 100vw;
    height: 60px;

    background: #fff;
    border-top: 1px solid #e1e1e1;

    position: fixed;
    bottom: 0px;

    display: flex;
    justify-content: center;
    align-items: center;
}
#bt-confirmar > a {
    text-decoration: none;
    color: white;
    width: 93vw;
    padding: 15px;
    text-align: center;

    background: rgb(90, 187, 11);
    border: none;
    border-radius: 5px;
}