@charset "UTF 8";

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body { font-family: Arial, Helvetica, sans-serif;}


/* ---------- TOPO --------------*/
header {
    width: 100vw;
    height: 60px;

    position: fixed;
    top: 0px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #e1e1e1;
    background: #fff;
}
header > nav {
    width: 93vw;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header > nav > a {
    margin: 0px;
    text-decoration: none;
    color: black;

    font-size: 15px;
}
header > nav > a > img{
    width: 20px;
    height: 20px;
    object-fit: contain;
}
header > nav > a > h2 {
    font-size: 15px;
    font-weight: normal;
}


/* ---------- CORPO DO SITE --------------*/

main {
    width: 100vw;

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-top: 65px;


}
main > .linha {
    padding: 2.5px;
    background-color: aquamarine;

    width: 93vw;
    border-radius: 20px;
}
main > h1 {
    font-size: 15px;
    font-weight: bold;

    width: 93vw;
    margin: 10px auto;
}
main > p {
    font-size: 15px;

    width: 93vw;
    margin: 5px auto;
    word-break: break-all;

    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 25px;
}


main > section {
    padding: 10px 0px;

    width: 93vw;
    margin-top: 10px;
}
main > section > form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: flex-start;

    font-size: 15px;
}
main > section > form > article {
    width: 100%;
    margin: 10px auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
}
main > section > form > article > input {
    margin: 0px;
    width: 20px;
}
main > section > form > article > aside {
    margin-left: 10px;
}
main > section > form > article > abbr {
    margin-right: 0px;
}


main > section > form > a {
    text-decoration: none;

    width: 100vw;
    padding: 10px;

    position: fixed;
    bottom: 0px;
    z-index: 2;
    left: 0px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #e1e1e1;
}
main > section > form > a > input {
    font-size: 15px;
    width: 93vw;
    padding: 15px;

    margin: 0 auto;
    border-radius: 5px;

    border: none;
    background: #406DF8;

    color: white;
}
